$btncolor : #5e2ced;

html,
body {
    width: 100%;
    height: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 65px;
    float: left;
    position: absolute;
    top: 0;
    z-index: 999;

    .logo {
        float: left;

        h1 {
            color: #ffffff;
            font-size: 40px;
            line-height: 45px;
            margin: 10px 0;
        }
    }

    .menu {
        float: right;
        padding: 9px 0;
        position: relative;

        .mobmenu {
            background-color: #ffffff;
            color: #1f1f1f;
            font-size: 25px;
            padding: 5px 10px;
            border-radius: 4px;
            width: 50px;
            height: 40px;
            display: none;
            position: absolute;
            top: 20px;
            right: 0;

            i {
                font-size: 30px;
                line-height: 30px;
            }
        }

        ul {
            &.active {
                display: block;
            }

            li {
                float: left;
                position: relative;

                a {
                    color: #ffffff;
                    text-decoration: none;
                    padding: 15px;
                    display: block;
                }

                &.active:after {
                    content: '';
                    display: block;
                    background-color: #ffffff;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                }
            }
        }
    }
}

.banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    float: left;
    position: relative;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5803921568627451);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
    }
}

.bannersm {
    background-size: 100%;
    width: 100%;
    float: left;

    position: relative;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5803921568627451);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
    }

    h1 {
        padding: 10vw 0;
        text-align: center;
        font-size: 40px;
        width: 100%;
        z-index: 99;
        position: relative;
        color: #fff;
        font-weight: 600;
    }
}

.coctbg {
    background-image: url(../images/contact.jpg);
}

.abttbg {
    background-image: url(../images/about.jpg);
    background-position: center;
}

.sersbg {
    background-image: url(../images/service.jpg);
    background-position: center;
}

.section {
    width: 100%;
    float: left;
    padding: 5vw 0;
}

.map {
    width: 100%;
    float: left;
    padding: 5vw 0 0;

    h3 {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 50px;
        margin-bottom: 2vw;
        text-align: center;
    }


    h4 {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 1vw;
        text-align: center;
    }
}

.services {
    .title {
        text-align: center;

        h3 {
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
            line-height: 50px;
            margin-bottom: 2vw;

        }

        h4 {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 2px;
            margin-bottom: 1vw;
        }
    }

    .servcicont {
        text-align: center;
        margin-bottom: 2vw;

        i {
            font-weight: 800;
            color: #5e2ced;
            font-size: 35px;
            transition: all 0.3s ease 0s;
            background: rgba(94, 44, 237, 0.15);
            border-radius: 50%;
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            display: block;
            margin: 2vw auto;
        }

        h2 {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            font-size: 18px;
            margin: 1vw 0;

        }

        p {
            margin: 0;
            font-size: 1em;
            color: #777;
            line-height: 1.9em;
            letter-spacing: 1px;
            width: 80%;
            margin: 0 10%;
        }
    }
}

.f2f2f2 {
    background-color: #f2f2f2;
}

.about {
    text-align: center;

    h1 {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 50px;
        margin-bottom: 2vw;
    }

    p {
        font-size: 1em;
        color: rgb(119, 119, 119);
        line-height: 1.9em;
        letter-spacing: 1px;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 2vw;
    }
}

footer {
    background-color: #1f1f1f;
    width: 100%;
    float: left;
    padding: 4vw 0 0;


    h1 {
        color: #eee;
        font-size: 22px;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 15px;
        color: #777;
        font-weight: normal;
        letter-spacing: .5px;
        line-height: 1.9em;
        width: 70%;
        text-align: left;
    }


    ul {
        li {
            width: 100%;
            display: block;
            float: left;

            i {
                display: block;
                float: left;
                width: 40px;
                font-size: 20px;
                line-height: 30px;
                color: #777777;
                text-align: center;
            }

            a {
                font-size: 15px;
                color: #777777;
                font-weight: normal;
                letter-spacing: 1px;
                line-height: 1.5;
                margin-bottom: 0.5rem;
                display: block;
                text-decoration: none;
            }

            span {
                display: block;
                color: #777777;
                font-size: 15px;
                letter-spacing: 1px;
                line-height: 33px;
                margin-bottom: 0.5rem;
                width: calc(100% - 60px);
                margin-left: 5px;
                float: left;
            }
        }
    }

    .copyright {
        border-top: 1px solid #555555;
        margin-top: 4vw;

        p {
            width: 100%;
            float: left;
            text-align: center;
            padding: 2vw 0;

            a {
                color: #777777;
                text-decoration: none;
            }
        }
    }
}

.contact {
    padding: 2vw;

    h1 {
        color: #333333;
        font-size: 22px;
        margin-bottom: 1.5rem;
    }


    ul {
        li {
            width: 100%;
            display: block;
            float: left;

            i {
                display: block;
                float: left;
                width: 40px;
                font-size: 20px;
                line-height: 30px;
                color: #333333;
                text-align: center;
            }



            span {
                display: block;
                color: #777777;
                font-size: 15px;
                letter-spacing: 1px;
                line-height: 33px;
                margin-bottom: 0.5rem;
                width: calc(100% - 60px);
                margin-left: 5px;
                float: left;
            }
        }
    }

}

.serimg {
    position: relative;
    bottom: -3px;

    &:hover:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-color: rgba(31, 31, 31, 0.62);
        z-index: 9;
    }

    img {
        width: 100%;
    }

    h3 {
        position: absolute;
        left: 5px;
        bottom: 0;
        color: #8b62ff;
        font-weight: 600;
        font-size: 3rem;
        z-index: 20;
    }
}



.fb-livechat {
    display: none
}

.gokys.fb-button {
    z-index: 1;
    background: #0084ff;
    width: 60px;
    height: 60px;
    text-align: center;
    position: fixed;
    bottom: 80px;
    right: 60px;
    border: 0;
    outline: none;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
    -webkit-transition: box-shadow 200ms ease;
    transition: box-shadow 200ms ease;
    cursor: pointer;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyOCAxMjgiIGhlaWdodD0iMTI4cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjggMTI4IiB3aWR0aD0iMTI4cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxyZWN0IGZpbGw9IiMwMDg0RkYiIGhlaWdodD0iMTI4IiB3aWR0aD0iMTI4Ii8+PC9nPjxwYXRoIGQ9Ik02NCwxNy41MzFjLTI1LjQwNSwwLTQ2LDE5LjI1OS00Niw0My4wMTVjMCwxMy41MTUsNi42NjUsMjUuNTc0LDE3LjA4OSwzMy40NnYxNi40NjIgIGwxNS42OTgtOC43MDdjNC4xODYsMS4xNzEsOC42MjEsMS44LDEzLjIxMywxLjhjMjUuNDA1LDAsNDYtMTkuMjU4LDQ2LTQzLjAxNUMxMTAsMzYuNzksODkuNDA1LDE3LjUzMSw2NCwxNy41MzF6IE02OC44NDUsNzUuMjE0ICBMNTYuOTQ3LDYyLjg1NUwzNC4wMzUsNzUuNTI0bDI1LjEyLTI2LjY1N2wxMS44OTgsMTIuMzU5bDIyLjkxLTEyLjY3TDY4Ljg0NSw3NS4yMTR6IiBmaWxsPSIjRkZGRkZGIiBpZD0iQnViYmxlX1NoYXBlIi8+PC9zdmc+");
    transition: all .2s ease-in-out
}

.gokys.fb-button:focus,
.gokys.fb-button:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09), 0 4px 40px rgba(0, 0, 0, 0.24)
}

.fb-widget {
    background: #fff;
    z-index: 2;
    position: fixed;
    width: 360px;
    height: 435px;
    overflow: hidden;
    display: none;
    opacity: 0;
    bottom: 0;
    right: 24px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16)
}

._1drm ._1drn {
    border: 1px solid #eaeaea !important;
    border-radius: 50px
}

.gokys.fb-overlay {
    z-index: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    -webkit-transition: opacity .4s, visibility .4s;
    transition: opacity .4s, visibility .4s;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.05);
    display: none
}

.gokys.fb-close {
    position: fixed;
    right: 24px;
    z-index: 4;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
    margin: 15px;
    border-radius: 3px;
    width: 14px;
    height: 14px
}

.gokys.fb-close::after {
    background-color: #414141;
    content: '';
    position: absolute;
    height: 14px;
    width: 2px;
    transform: rotate(45deg);
    content: '';
    left: 6px
}

.gokys.fb-close::before {
    background-color: #414141;
    content: '';
    position: absolute;
    height: 14px;
    left: 6px;
    width: 2px;
    transform: rotate(-45deg)
}